{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 30px">
  <h3 class="text-center mb-5">Список клиентов</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО клиента</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">ИНН клиента</th>
        <th scope="col">Пол клиента</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Адрес</th>
        <th scope="col">Дата обращения</th>
      </tr>
    </thead>
    <tbody>
    {% for client in clients %}
      <tr>
        <th scope="row">{{ client.id }}</th>
        <td>{{ client.name }}</td>
        <td>{{ client.date_of_birth }}</td>
        <td>{{ client.inn }}</td>
        <td>{{ client.gender }}</td>
        <td>{{ client.number }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.date_of_application }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="container" style="margin-top: 100px">
  <h3 class="text-center mb-5">Список докторов</h3>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО доктора</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Специальность</th>
        <th scope="col">Стаж</th>
      </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
      <tr>
        <th scope="row">{{ doctor.id }}</th>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.date_of_birth }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.experience }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}